{% extends 'base.html' %}
{% load static %}
{% block head %}
    <h1><a href="{% url 'homepage' %}">HOMEPAGE</a> </h1>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} m-2" id="success_msg" role="alert">
                <script type="text/javascript">
                    msgs = document.getElementsByClassName('alert')
                    for (let i=0; i<msgs.length; i++){
                        window.setTimeout(function (){
                            msgs[i].style.display='none';
                        },2000);
                    }
                </script>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% for el in object_list %}
        <form method="post" action="{% url 'book:delete_reservation' pk=el.pk %}">
            {% csrf_token %}
            <h2>Prenotazione: {{ el.reservation }}</h2>
            <h3>{{ el.restaurant.restaurant_name }} </h3>{{ el.res_datetime }}<br>
            <img src='{{ el.restaurant.image.url }}' alt="immagine ristorante" width="400px" height="300px">
            <button type="submit">Cancella</button>
            <br>
        </form>
    {% endfor %}

{% endblock %}