{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} m-2" id="success_msg" role="alert">
                <script type="text/javascript">
                    msgs = document.getElementsByClassName('alert')
                    for (let i=0; i<msgs.length; i++){
                        window.setTimeout(function (){
                            msgs[i].style.display='none';
                        },2000);
                    }
                </script>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h1><a href="{% url 'homepage' %}">HOMEPAGE</a> </h1>
    <h2><a href="{% url 'book:results' destination=city %}">TORNA AI RISTORANTI</a> </h2>
    <h1>Ciao {{ user.username }} effettua la tua prenotazione per {{ res_name }}: </h1><br>
    <form method="post" enctype="multipart/form-data">
    <img src=" {{ image.url }}" alt="Immagine struttura" height="300" width="300"/>
    {% csrf_token %}
    {% crispy form %}

    {% if not success %}
        {% if "Non ci sono più posti disponibili" in message %}
            <div class="form-group">
                {{ form.add_to_waiting_list }}
            </div>
        {% endif %}
    {% endif %}

</form>





{% endblock %}