{% extends 'base.html' %}
{% load static %}
{% block head %}
    <h1><a href="{% url 'homepage' %}">HOMEPAGE</a> </h1>
    {% if user.is_owner %}
    <h2><a href="{% url 'book:restaurant_list' %}">TORNA AI RISTORANTI</a></h2>
    {% endif %}
    {% if user.is_customer %}
        <h2><a href="{% url 'book:results' destination=object_list.0.review_res.city %}">TORNA AI RISTORANTI</a></h2>
    {% endif %}
{% endblock %}
{% block content %}
    {% for res in object_list %}

        RECENSORE: {{ res.rev_customer.user.username }}<br><br>
        <label>
            <textarea rows="7" cols="70" style="resize: none" readonly>{{ res.review_text }}
            </textarea>
        </label>
        <br>
        VALUTAZIONE: {{ res.review_value }}/5
        <br><br><br>
    {% empty %}
        <h2>Non sono ancora presenti recensioni da parte degli utenti</h2>
    {% endfor %}
{% endblock %}
