.login{
    position: relative;
}

.login::before{
    content: '';
    position: absolute;
	height: 100vh;
    z-index: -1;
	background: url('../img/login2.jpg') no-repeat center center;
    background-size: cover;
    top: -20px;
    width:100%;
    opacity: 0.6;
}

.login_form {
    background-color: white;
    position: relative;
    margin: auto;
    padding: 10px;
    width: 30%;
    top: 100px;
    left: 70px;
    border-style: solid;
    border-radius: 2%;
}

